{
  "plugins": [
    // we'll be using https://www.npmjs.com/package/babel-plugin-add-module-exports
    "add-module-exports"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        // see: https://www.npmjs.com/package/babel-plugin-add-module-exports#with-webpack
        "modules": "commonjs"
      }
    ]
  ]
}
